.map {
    position: relative;
}
img {
    width:100%;
    height: auto;
}
#a604 {
    width:10%;
    height:15%;
    position:absolute;
    top: 85%;
    right:25%;
    z-index:2;
    opacity: 0.3;
}

#a601 {
    width:6%;
    height:30%;
    position:absolute;
    top:5%;
    left:10%;
    z-index:1;
    opacity: 0.3;
}

